.auth__button {
  width: 358px;
  height: 50px;
  left: 461px;
  top: 558px;
  background: #ffffff;
  border-radius: 2px;
  border: none;
  margin-top: 216px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  text-align: center;

  color: #000000;
}
