.header__logo {
  margin-bottom: 36px;
}

@media (max-width: 940px) {
  .header__logo {
    padding-left: 27px;
  }
}

@media (max-width: 640px) {
  .header__logo {
    width: 103.74px;
    height: 24.4px;
    margin-bottom: 27px;
    margin-top: 31px;
    padding-left: 0px;
    margin-right: 133px;
  }
}
