.header__mail {  
  height: 22px;
  left: 859px;
  top: 51px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  color: #ffffff;
  margin: 0;
}
